body {
    margin: 0vw;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 7vh;
    text-align: center;    
    color: white;
    text-shadow: .1vh .1vh 6vh #ff3b72;    
}

.wrapper {
    background-color: rgba(255, 255, 255, 80%);
    border: 2px solid pink;    
    box-shadow: 0 0 20px pink;
    min-width: 60vw;
    max-width: 80vw;
    margin: 5vh 10vw;
    height: 90vh;
}

header{
    height: 10vh;    
    line-height: 8vh;    
}

#question, #timer{
    height: auto;    
    line-height: 8vh;
}

#display, #results {
    height: 10vh;    
    line-height: 8vh;
    margin: 0vh;
}

#results-text{
    line-height: 5vh;
    font-size: 5vh;
}

#choice-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img {    
    height: auto;
}

.choices {
    height: 25vh;
    width: 40vw;    
    line-height: 7vh;
    background-color: rgba(255, 255, 255, 0%);
    border: 0px;
    color: white;
    text-shadow: .1vh .1vh 6vh #ff3b72;    
    font-family: 'Luckiest Guy', cursive;
    font-size: 7vh;
}
@media screen and (max-width: 1140px){
    #member {
        height: 40vh;
    }
    #band {
        height: 20vh;
    }
}
@media screen and (max-width: 1366px) and (orientation:portrait){
    header {
        font-size: 10vw;
        line-height: 10vw;        
        height: 21vw;
    }
    #member {
        height: 55vw;
    }
    #band {
        height: 25vw;
    }
    #results-text{
        font-size: 7vw;
        line-height: 7vw;
    }
    #timer, #question {
        font-size: 8vw;
        line-height: 8vw;        
        height: auto;
        margin-bottom: 1vw;
    }
    #choice-container{
        grid-template-columns: 1fr;
        width: 77vw;
        height: 64vw;
        align-items: center;
    }
    .choices {
        width: 77vw;
        height: 20vw;
        line-height: 8vw;
        font-size: 8vw;
        text-align: center;
        position: relative;
    }
}
